//-----CONNECTION STRING-----//
# DB_URL = postgresql://postgres:[password]@db.mfhboimyxkbvaizftrxt.supabase.co:5432/postgres

//-------ORM DRIZZLE URL------//
DB_URL ="postgresql://postgres.mfhboimyxkbvaizftrxt:[password]@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres"
